body {
  background-color: #FFEEEE;
  /*color: #F7E9D7;*/
  font-family: Sofia;
}

h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}

hr{
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none none;
  width: 5%;
}

img{
  width: 125px;height:250px
}
